*{
    margin: 0;
    padding: 0;
}

.headingStyle{

    background-color: crimson;
    color: cornflowerblue;
    font-size: 4rem;
    padding: 10px;
    text-align: center;

}

.headingStyle2{
    background-color: burlywood;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 470px;
    display: inline-block;
    
}

.titleStyle{
    text-align: center;
    margin-bottom: 5px;
    color: brown;
}

.nameStyle{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.groupStyle{
    text-align: center;
    font-weight: bold;
}

.yearStyle{
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    
}
